#Big_div{
text-align: center;

#start_button{
    width: 5.3rem;
    height: 2.3rem;
    background-color: green;
    font-family: serif;
    font-style: bold;
    color: white;
    border-radius: 0.2em;
    margin-top: 1.2rem;
}

}